html
{
    width: 80%;
    margin: auto;
    padding: 10px;

    border: 2px solid black;
}

a:hover
{
    font-size: 0.85cm;
}

header
{
    display: flex;
    flex: 1;

    flex-wrap: wrap;
    justify-content: center;

    border: 2px solid rgb(185, 185, 255);
    border-radius: 10px;
    background-color: rgb(185, 185, 255);
}

header > div
{
    text-align: center;
    font-size: 0.75cm;
    margin: 10px;
    padding: 2px;
}

.grow_1
{
    flex-grow: 1;
}

#reserva
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#cidade 
{
    padding: 10px;
    width: 5cm;

    flex-grow: 1;

    border-radius: 10px;
}

#data
{
    padding: 10px;
    width: 4cm;

    

    text-align: center;

    flex-grow: 1;

    border-radius: 10px;
}

#horario
{
    padding: 10px;

    flex-grow: 1;

    border-radius: 10px;
}

input[type=text]:hover
{
    background-color: rgb(185, 185, 255);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 5px  black; 
}

input[type=date]:hover
{
    background-color: rgb(185, 185, 255);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 5px  black; 
}

input[type=time]:hover
{
    background-color: rgb(185, 185, 255);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 5px  black; 
}

#submit
{
    padding: 10px;
    width: 3cm;

    border-radius: 10px;

    flex-grow: 2;
}

#submit:hover
{
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 5px  black;
}

#info_reserva
{
    border: 2px solid black;
    padding: 5px;
}

footer
{
    border: 2px solid black;
    padding: 5px;
}

#painel_reserva
{
    border: 5px solid black;
}

#marca
{
    padding: 5px;
}

#tipo
{
    padding: 5px;
}
