html
{
    width: 80%;
    margin: auto;
    padding: 10px;

    border: 2px solid black;
}

a:hover
{
    font-size: 0.85cm;
}

header
{
    display: flex;
    flex: 1;

    flex-wrap: wrap;

    border: 2px solid rgb(185, 185, 255);
    border-radius: 10px;
    background-color: rgb(185, 185, 255);
}

header > div
{
    text-align: center;
    font-size: 0.75cm;
    margin: 10px;
    padding: 2px;
}

.grow_1
{
    flex-grow: 1;
}

/*
=========================================
    SECTION
=========================================
*/
section
{
    padding: 10px;
}

/*
=========================================
    FOOTER
=========================================
*/
footer
{
    padding: 10px;

    font-size: 0.35cm;

    background-color: rgb(185, 185, 255);
    border-radius: 10px;
}